.new .navbar-toggler .icon, .new .navbar-toggler .icon::after, .new .navbar-toggler .icon::before {
  background-color: #f6c; }

.white-vertion .page-item.active .page-link {
  color: #f6c; }

.dark-vertion .page-item.active .page-link {
  color: #f6c; }

.kh-header .navbar-nav li a:hover {
  color: #f6c; }

.kh-experince .kh-education-deatils .kh-education-item h4 a {
  color: #f6c; }

.kh-work .kh-experience-deatils .kh-work-item h4 a {
  color: #f6c; }

.kh-home-2 .kh-header-info ul.kh-home-contact li:hover .fa {
  color: #f6c; }

.kh-home .kh-header-info .kh-promo span {
  background-color: #f6c; }
.kh-home .kh-header-info ul li:hover .fa {
  color: #f6c; }

.kh-about-tag ul li span {
  border: 1px solid #f6c; }
  .kh-about-tag ul li span:hover {
    background-color: #f6c; }

.kh-progress path:nth-child(2) {
  stroke: #f6c; }

.candidatos .parcial .percentagem {
  background: #f6c; }

.kh-experince .kh-education-deatils .kh-education-item .kh-eduyear {
  color: #f6c; }

.kh-work .kh-experience-deatils .kh-work-item .kh-eduyear {
  color: #f6c; }

.portfolio-nav ul li:hover {
  color: #f6c; }
.portfolio-nav ul li.active {
  color: #f6c; }

.kh-pricing .kh-pricing:hover .btn {
  background-color: #ff4dc4; }
.kh-pricing .kh-pricing .fa {
  color: white; }
.kh-pricing .kh-pricing h5 {
  color: #f6c; }

.kh-blog .kh-blog-item .blog-inner h2 a {
  color: #fff; }
.kh-blog .kh-blog-item .blog-inner a {
  color: #f6c; }
.kh-blog .kh-blog-item h2 {
  color: #f6c; }
  .kh-blog .kh-blog-item h2 a {
    color: #f6c; }
    .kh-blog .kh-blog-item h2 a:hover {
      color: #ff5cc9; }

.kh-testimonial .kh-client-item img {
  border: 5px solid #f6c; }
.kh-testimonial .owl-controls .owl-dots .owl-dot {
  border: 1px solid #f6c; }
.kh-testimonial .owl-controls .owl-dots .owl-dot.active {
  background-color: #f6c; }

.kh-footer-address .kh-address-footer-item .each-icon .fa {
  border-color: #f6c; }

.old .navbar-collapse {
  background-color: #f6c; }
.old .navbar-header .navbar-toggler .icon-bar {
  background-color: #f6c; }
.old .navbar-collapse {
  background-color: #f6c; }

.new .navbar-collapse {
  background-color: #f6c; }
.new .navbar-header .navbar-toggler .icon-bar {
  background-color: #f6c; }
.new .navbar-collapse {
  background-color: #f6c; }

.portfolio-nav ul li.current span {
  border-bottom: 2px solid #f6c; }

.kh-project-gallery .grid-item figure:hover figcaption {
  background: rgba(255, 102, 204, 0.9); }

.kh-featured-project .kh-featured-item .kh-featured-project-content .project-category {
  color: #f6c; }

.kh-single-project-slide .owl-controls .owl-dots .owl-dot {
  border: 1px solid #f6c; }
.kh-single-project-slide .owl-controls .owl-dots .owl-dot.active {
  background-color: #f6c; }

.kh-service .kh-service-item a {
  color: #f6c; }

.kh-pagination .page-link:hover {
  color: #f6c; }

.kh-author-info .social-icon li a:hover {
  color: #f6c; }

.kh-blog-category ul li a:hover {
  color: #f6c; }

.kh-blog-next-prev-post a {
  color: #f6c; }

.comment-deatils span {
  color: #f6c; }

.btn.btn-fill {
  background-color: #f6c; }

.kh-pricing .kh-pricing .fa {
  color: #f6c; }

/*# sourceMappingURL=slate.css.map */
